/* index and shared */

#body2 {
    width: 960px;
    height: 544px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

p {
    font: 16px "consolas";
}

h2, h4, p {
    text-align: center;
}

#main {
    margin-top: 40px;
    margin-bottom: 40px;
}

#text1 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 75ch;
    word-break: normal;
}

textarea {
    font: 16px "consolas";

    resize: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;

    background-color: inherit;
    color: inherit;
}

#correct {
    color: lime;
}

#wrong {
    color: red;
    word-break: break-word; /*because of adding the dots I can't not break words*/
}

/*Settings*/

input {
    display: inline;
}

#settings {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-color-scheme: ligh) {
    body {
        background-color: white;
        color: black
    }


}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
