/* index and shared */

#body2 {
    width: 960px;
    height: 544px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

p {
    font: 16px "consolas";
}

h2, h4, p {
    text-align: center;
}

@media (prefers-color-scheme: ligh) {
    body {
        background-color: white;
        color: black
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
